* {
    height: fit-content;
}

.image {
    width:96px;
    height:96px;
    margin: 10px;
    border-radius: 2px;
    background-color: #F2F2F2;
}

li {
    list-style-type: none;
    transition-duration: 300ms;
    transition-property: transform;
    transition-timing-function: ease-in-out;
}

li:hover {
    transform: translateX(10px);
}

.container {
    display: flex;
    align-items: center;
}


.name {
    font-family: "Flexo-Demi",arial,sans-serif;
}

.id {
    font-family: "Flexo-Bold",arial,sans-serif;
    color: #919191;
}

p {
    padding: 10px 10px;
}

.types {
    display: flex;
    width: fit-content;
}

.type {
  font-family: "Flexo-Medium",arial,sans-serif;
  font-size: 11px;
  text-align: center;
  margin-right: 2px;
  float: right;
  border-radius: 3px;
  width: 110px;
  height: 18px;
}
